$bg-color:#ee3;
$num: 0;
$string: "I am Michael. I like cats";
$colors: (1:#eee,
          2:#ddd,
          3:#9933cc,
          4:#4c33cc,
          5:#cc3366,
          6:#ffff99);

$shoes: 'heels',
        'boots',
        'tennis',
        'running',
        'sandals';



